<%= button_to 'Add User', new_user_path %>

<% @users.each do |user| %>
   <p> 
   Name: <%= user.firstname %> <br />
   Last: <%= user.lastname %> <br />
   Age: <%= user.age %> <br />
   Password: <%= user.password %> <br />
   email: <%= user.email %> <br />  
   <%= link_to 'Edit', edit_user_path(user) %>   
   <%= button_to 'Delete', user, method: :delete %>

   </p>

<% end %>

